# Streamlit Cloud / Zeabur Secrets 範例

TRADING_ACCOUNTS = "account1,account2"

BINANCE_TESTNET_API_KEY = "account1_testnet_key"
BINANCE_TESTNET_API_SECRET = "account1_testnet_secret"
BINANCE_API_KEY = "account1_live_key"
BINANCE_API_SECRET = "account1_live_secret"

BINANCE_ACCOUNT2_TESTNET_API_KEY = "account2_testnet_key"
BINANCE_ACCOUNT2_TESTNET_API_SECRET = "account2_testnet_secret"
BINANCE_ACCOUNT2_LIVE_API_KEY = "account2_live_key"
BINANCE_ACCOUNT2_LIVE_API_SECRET = "account2_live_secret"
